
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Dosis", sans-serif !important;
}

.main {
    min-height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.73;
}


section {
    margin-bottom: 100px;
    margin-top: 50px;
}

.mount{
    background-image: url(images/waw.jpg);
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #C0E5FC 0%, #C0E5FC4D 100%);
    opacity: 1;
    height: 400px;
   
}

.container {
    margin-left: 153px;
    margin-right: 153px;

}


.container-fluid{
    padding: 22px 32px 8px 32px;
}

@media (max-width: 991px) {
    .navbar-toggler {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: row !important; 
        gap: 20px; 
    }

    .navbar-nav {
        flex-direction: row !important;
        background-color: white;
    }

    .nav-item {
        padding: 0 10px;
    }
}

@media (max-width: 425px) {
    .navbar-toggler {
        /* display: flex !important; */
        justify-content: center;
        align-items: center;
        flex-direction: column !important; 
        gap: 20px; 
    }

    .navbar-nav {
        flex-direction: column !important;
    }

    .nav-item {
        padding: 0 10px;
    }
}


.logo img {
    height: 80px;
    width: 150px;
    margin-right: 48px  ;
}

@media (max-width:1024px) {
    .logo img {
        height: 60px;
        width: 130px;
    }

}

.navbar-nav{
            flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    
}

.nav-item{
    padding: 12px 16px;
}

.nav-item a{
        color: #081f46 !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 1px;
    padding: 0px;
    display: flex;
    align-items: center;
    color: #081f46;

}

@media (max-width:1024px) {
    .nav-item a{
        font-size: 16px !important;
    }
    
}


.nav-item a:hover {
    color: #2c99ff !important;
}


#navbarSupportedContent{
    align-items: center;
    justify-content: space-evenly
}


a .dropdown-item:hover{
    color: #0281b5;
}

.dropdown-menu a{
    margin: 10px 0px;
}

.dropdown-item:hover{
    color: #0281b5;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(36 36 122);
}

.search {
    height: 44px;
    width: 43px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
}

.search img {
    width: 15px;
}

.cart {
    height: 44px;
    width: 43px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;

}

.cart img {
    width: 20px;
}

/* new */

.about {
    margin-bottom: 20px;
}

.our-about {
    padding-bottom: 40px;
}

.about-us h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 1px;
    margin-bottom: 0.25em;

}

.recent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    border-radius: 30px;
    width: 80px;
    height: 30px;
    align-items: center;
    text-align: center;
    background-color: #379eff;
}

.recent a {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    font-size: 13px;

}

.home:hover {
    background-color: #081f46;
}

.recent p {
    margin-bottom: 0px;
}

.title p {
    gap: 20px;
    display: flex;
    color: #081f46;
    font-size: 18px;
    font-weight: bolder;
    padding: 8px 0px;
    margin-bottom: 18px;
    width: 300px;
}

@media (max-width:425px) {
    .title p{
        font-size: 25px;
    }
    
}

.title p span::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    border-left: 3px solid #1a73e8;
    background-color: #1a73e8;
    margin-top: 5px;
}

.result {
    display: flex;
    padding: 8px 0px;
}

@media (max-width:425px) {
    .result{
        display: inline;
    }
    
}

.dropdown-container {
    margin-left: 500px;
}

@media (max-width:768px) {
    .dropdown-container{
        margin-left: 250px;
    }
    
}

@media (max-width:425px) {
    .dropdown-container{
        margin-left: 1px;
    }
    
}

.sort-dropdown {
    border-radius: 30px;
    width: 150px;
    border: none;
}

.b1 {

    margin-bottom: 32px;
    margin-top: 32px;
    padding: 24px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
}

.b1 img {
    width: 260px;
}

@media (max-width:425px) {
    .b1 img{
        width: 350px;
    }    
}

@media (max-width:375px) {
    .b1 img{
        width: 300px;
    }    
}

@media (max-width:320px) {
    .b1 img{
        width: 250px;
    }    
}


.b1 h2 {
    text-align: center;
    color: #081f46;
    margin: 24px 0px 16px 0px;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.25;
    letter-spacing: 0.5px;
}



.product-rating-price {
    text-align: center;
}

.stars {
    color: #33aaff;
    font-size: 20px;
    margin-bottom: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.stars img {
    width: 20px;
    height: 20px;
}

.price {
    font-size: 18px;
}

.old-price {
    color: #999;
    text-decoration: line-through;
    margin-right: 8px;
}

.new-price {
    font-weight: bold;
    color: #002244;
}

.add {
    margin: 16px 52px;
}

@media (max-width:425px) {
    .add{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

.add-to-cart-btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid #1e90ff;
    color: #1e90ff;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #1e90ff;
    color: white;
}

.add-to-cart-btn img:hover {
    color: white;
}

.add-to-cart-btn img {
    margin-right: 8px;
    width: 20px;
    fill: currentColor;
}

.img-b1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-b1 img {
    width: 123px;
}

@media (max-width:425px) {
    .img-b1 img{
        width: 200px;
    }
    
}

@media (max-width:375px) {
    .img-b1 img{
        width: 150px;
    }
    
}

.img-b3 img {
    width: 270px;
}

@media (max-width:425px) {
    .img-b3 img{
        width: 350px;
    }
    
}
@media (max-width:375px) {
    .img-b3 img{
        width: 300px;
    }
    
}

@media (max-width:320px) {
    .img-b3 img{
        width: 250px;
    }    
}

@media (max-width:1024px) {
    .mix{
        display: flex !important;
        gap: 80px;
        justify-content: center;
    }
    
}

@media (max-width:768px) {
    .mix{
        
        gap: 0px;
    }
    
}

@media (max-width:425px) {
    .mix{
        flex-direction: column;
    }
    
}

.filter {
    padding: 32px;
    margin: 0px 0px 32px 8px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.20);
}

@media (max-width:1024px) {
   .filter{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
   }    
}


@media (max-width:425px) {
   .filter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   }    
}


.line-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 20px;
}


.circle {
    width: 12px;
    height: 12px;
    background-color: #2196F3;
    border-radius: 50%;
}

.line {
    width: 230px;
    height: 3px;
    background-color: #2196F3;
}

.price-filter {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.price-filter p {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
}

.price-filter button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-button {
    padding: 8px 20px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    width: 100px;
    margin: 0px 65px;
}

.filter-button:hover {
    background-color: #007bff;
    color: white;
}

.t1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:425px) {
    .t1 h6{
        font-size: 20px;
    }
    
}

.reviw {
    color: #33aaff;
    font-size: 15px;
    margin-bottom: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.reviw img {
    width: 15px;
    height: 15px;
}

.reviw h6 {
    margin-bottom: 0px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #1e90ff;
    border-radius: 30px;
    overflow: hidden;
    width: fit-content;
    font-family: Arial, sans-serif;
}

.search-box input {
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 14px;
    border-radius: 30px 0 0 30px;
    width: 150px;
}



.search-box button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
    transition: background-color 0.3s;
    width: 100px;
}

.search-box button:hover {
    background-color: #0078e7;
}

.pro-cat ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width:425px) {
    .pro-cat ul{
        font-size: 20px;
    }
    
}

.pro-cat ul li a {
    text-decoration: none;
    color: black;

}

.pro-cat ul li {
    margin-bottom: 20px;
}

.rw{
        display: flex
;
    gap: 40px;
}

.recent-review {
    list-style-type: none;
    padding: 0;
    margin: 0;

}


.recent-rev{
    width: 6% ;


}
.recent-rev1{
    width: 90%;
}



.recent-rev a img {

    border-radius: 100%;
    border: 1px solid #379eff;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: #fff;
    margin: 0.65rem 20px -1.5rem 0;
}
/* 
@media (max-width:1024px) {
    .bot ul li a img{
        margin: 0px;
    }
    
} */

.recent-review ul li a {
    text-decoration: none;
    color: black;

}
/* 
.bot {
    margin-top: 20px;
} */

.big {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 17px;
    color: #000000;
    letter-spacing: 0.5px;

}

.big:hover {
    color: #379eff;
}

.rev {
    color: #33aaff;
    font-size: 15px;
    margin-bottom: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}

@media (max-width:375px) {
    .rev{
        width: 100px;
    }
    
}

.rev img {
    width: 15px;
    height: 15px;
}


.owner p {
    display: flex;
    gap: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #379eff;
    margin-top: 0.5rem;
    margin-bottom: 30px;
    font-weight: 600;
}

.owner p span::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    border-left: 3px solid #379eff;
    background-color: #1a73e8;
    margin-top: 5px;
}

@media (max-width:375px) {
    .owner p{
        width: 100px;
    }
    
}



.tag {
    display: flex;
    flex-wrap: wrap;
}

.tag p {
    display: flex;
    gap: 10px;
    font-size: 14px;

    color: #379eff;

    font-weight: 600;
    padding: 3px 8px;
    margin-bottom: 7px;
}

.tag p span::before {
    content: '#';
    position: absolute;


}

.pagination {
    background-color: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.page-number {
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #007bff;
    font-weight: 500;
    text-decoration: none;
}

.page-number.active {
    background-color: #eaf4ff;
    color: black;
    font-weight: bold;
}

.arrow {
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;

}

.arrow img {
    width: 20px;
}

/* new */

.back {
    background-color: #120d48;
    color: white;
    margin-top: -1px;
}

.f-bg-wave {
    fill: #120d48;
}

.menu {
    padding: 64px 48px 8px 48px;
}

.top {
    padding-bottom: 8px;
    border-bottom: 1px solid #ffffff1a;
    margin-bottom: 24px;
}

.col-lg-4 {
    padding: 0px 15px 16px 15px;
}

.nav-menu {
    margin-bottom: 48px;
}


.footer-list p span::before {
    content: '|';
    width: 12px;
    display: inline-flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #1a73e8;
}

.footer-list p {
    display: flex;
    gap: 15px;
    font-size: 20px;

    margin-top: 0;
    margin-bottom: 1.25rem;
    color: var(--title-color);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    font-family: inherit;
    letter-spacing: 0.5px;
}

.list-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-footer ul li {
    margin-bottom: 16px;
    font-size: 15px;
}

.list-footer ul li a {
    text-decoration: none;
    color: white;
}

.list-footer li {
    font-size: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.list-footer li a {
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    line-height: 1.381;
    letter-spacing: 1px;
    font-weight: bold;
}

.list-footer ul li a img {
    width: 40px;
}

.footer-post {
    display: flex;
    gap: 20px;
}


.subscribe-wrapper {
    display: flex;
    border-radius: 90px;
    overflow: hidden;
    background-color: #fff;
    height: 48px;
    width: 330px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width:1024px) {
    .subscribe-wrapper {
        width: 330px;
    }

}

@media (max-width:375px) {
    .subscribe-wrapper {
        width: 290px;
    }

}


@media (max-width:320px) {
    .subscribe-wrapper {
        width: 250px;
    }

}


.subscribe-wrapper input {
    border: none;
    padding: 0 20px;
    font-size: 16px;
    color: #999;
    outline: none;
    width: 220px;
    font-weight: 500;
}

.subscribe-wrapper input::placeholder {
    color: #999;
    letter-spacing: 0.5px;
}

.subscribe-wrapper button {
    border: none;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #5b9df9, #4a82f0);
    border-radius: 90px;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.subscribe-wrapper button:focus {
    outline: none;
}

.credit p {
    font-size: 0.75rem;
    padding-left: 48px;
}